$font: "Inter", sans-serif;
.form{
	position: relative;
	width: 250px;
	height: 240px;
}

.button{
	position: absolute;
	background: #47A3D8;
	border-radius: 3px;
	align-items: center;
	padding: 10px 20px;
	bottom: 0;
	font-family: $font;
	color: aliceblue;
	transition: all ease 0.3s;
}

.button:hover{
	transform: scale(1.05);
}

.button:active{
	transform: scale(0.95);
}